@model Sistema_Organizacion.Models.EmpleadoHabilidad

@{
    ViewData["Title"] = "Ver habilidad";
}

<h1>Ver habilidad</h1>

<div>
    <h4>Ver habilidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreHabilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreHabilidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar habilidad</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
